MONGO_URI=mongodb+srv://username:password@cluster0.cebywgo.mongodb.net/11-auth-workflow?retryWrites=true&w=majority
JWT_SECRET=65197c84d2fd6672b926d10d0aeb730ee229d79f79c9b1917c04bdbdab5b231f
JWT_LIFETIME=1d